<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>RPS</title>
  </head>

  <body>

      <h1>Rock, Paper, Scissors</h1>


    @* <div class="formBox">
      <form id="player1Name" class="name" method="post">
      </form>
      <form id="player2Name" class="name" method="post">
      </form>
      <br> *@


      <form id="submitButton" class="submit" action="/player1" method="post">
      <label for="name">Please put player 1's name here:</label>
      <input type="text" name="player1Name">
        <label for="name">Please put player 2's name here:</label>
        <input type="text" name="player2Name">
        <button type="submit" name="btn" class="btn btn-info btn-block">~Play with another person by clicking here~</button>
      </form>
    </div>

  </body>
</html>




@* <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>RPS</title>
  </head>
  <style media="screen">
    body {
      background-image: url("img/back.jpg");
      background-size: 300%;
      background-position: 0% 20% 20%;
    }
  </style>
  <body>
    <div class="jumbotron">
      <h1>Rock, Paper, Scissors</h1>
    </div>

    <div class="formBox">
      <form id="player1Name" class="name" method="post">
        <label for="name">Please put player 1's name here:</label>
        <input type="text" name="name" value="name">
      </form>
      <form id="player2Name" class="name" method="post">
        <label for="name">Please put player 2's name here:</label>
        <input type="text" name="name" value="name">
      </form>


      <br>
      <form id="submitButton" class="submit" action="/player1" method="post">
        <button type="submit" name="btn" class="btn btn-info btn-block">~Play with another person by clicking here~</button>
      </form>
    </div>
/*
    <h3><a href='/player1'>Start a game!</a></h3>
    <button type="button" name="button"></button> */
  </body>
</html> *@
